/* Variables */
:root {
  --text-color: #3E2723;
  --accent-color: #795548;
  --light-bg: #FDFCFB;
  --cta-bg: #EAE0D7;
  --cta-button-bg: #6D4C41;
  --modal-bg: #fdfcfb;
  --button-bg: #6d4c41;
  --header-bg: #ffffff;
  --form-bg: #ffffff;
  --new-bg-color: #f8f4f2;
  --shine-color: #d4c1a5;
  --light-text: #eae0d7;
  --accent-hover: #d4c1a5;
  --logo-text: #a1887f;
  --star-color: #f5b300;
}

html, body {
  overflow-x: hidden;
  max-width: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
